.contact-container {
  padding: 3rem 0;
  background-color: white;
  text-align: center;
}

.contact-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.contact-subtitle {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 2rem;
}

.contact-form {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.contact-input {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 21vw;
}

.contact-button {
  background-color: coral;
  color: white;
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-button:hover {
  background-color: #0097a7;
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #d5d5d5;
  box-shadow: 0 0 8px rgba(77, 77, 77, 0.219);
  padding: 1rem 0;
  width: 80vw;
  height: 12vw;
  bottom: 14vw;
  position: absolute;
  color: rgb(30, 30, 30);
  flex-wrap: wrap;
}

.info-item {
  width: 180px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: transparent;
  border-radius: 10px;
  position: relative;
  top: -4vw;
}

.info-item .info-icon {
  font-size: 1.9rem;
}

.info-icon {
  border-radius: 50%;
  padding: 18px;
  background-color: coral;
  font-size: 3rem;
  color: white !important;
}

.info-item h3 {
  font-size: 1.1rem;
  margin: 0;
}

.info-item p {
  margin: 5px 0;
  font-size: 1rem;
  color: rgb(100, 100, 100);
  text-align: center;
}

.outerPart-Contact-info {
  background-color: coral;
  display: flex;
  margin-top: 10vw;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 22vw;
  position: relative;
}

/* Mobile View */
@media (max-width: 768px) {
  .contact-title {
    font-size: 2rem;
  }

  .contact-subtitle {
    font-size: 1rem;
  }

  .contact-button {
    margin-bottom: 30vw;
  }

  .contact-input {
    width: 80vw;
  }

  .contact-info {
    width:81vw;
    height: 180vw;
    flex-direction: column;
    padding: 1.3rem;
  }

  .info-item {
    width: 100px;
    height: 100px;
    margin-top: 5vw;
    top: 0;
  }

  .outerPart-Contact-info {
    width: 92%;
    height: 90vh;
    padding: 2rem 1rem;
  }
}

