/* Footer.css */
.footer-container {
  background-color: #dddddd;
  color: #323232;
    padding: 2rem 0;
  }
  
  .footer-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  @media (min-width: 768px) {
    .footer-content {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  .footer-section {
    display: flex;
    flex-direction: column;
  }
  
  .footer-title {
    font-size: 1.5rem;
    font-weight:400;
  }
  
  .footer-description {
    font-size: 0.8rem;
    color: gray;
    line-height: 1.6;
    margin-top: 0.5rem;
  }
  
  .social-icons {
    display: flex;
    gap: 1rem;
    color: rgb(15, 15, 15);
    margin-top: 1rem;
    cursor: pointer;
  }

  .social-icon:hover{
    color: coral;
  }
  .contact-item:hover{
    color: coral;
  }
  
  .footer-heading {
    font-size: 1rem;
    font-weight:500;
    margin-bottom: 0.5rem;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-ul li {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: rgb(14, 14, 14);
  }

  .contact-item span{
    color: rgb(34, 34, 34);
  }
  
  .footer-bottom {
    text-align: center;
    font-size: 0.875rem;
    border-top: 1px solid white;
    padding-top: 1rem;
    margin-top: 1rem;
  }
  