body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .catalog-container {
    background-color: #fff;
    padding: 95px;
    text-align: center;
  }
  
  .catalog-title {
    font-size: 2.1rem;
    font-family: 'Cursive', sans-serif;
    margin-bottom: 10px;
  }
  
  .catalog-description {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 40px;
  }
  
  .catalog-carousel {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .card-flower {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0  16px rgba(27, 27, 27, 0.098);
    /* overflow: hidden; */
    padding: 35px;
    border: 1px solid rgba(194, 194, 194, 0.45);
  }
  
  .card-image-container-flower {
    background-color: #eaeaea;
    padding: 10px;
    border-radius: 55%;
    margin-bottom: 20px;
  }
  
  .card-image-flower {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .card-title-flower {
    font-size: 1.5rem;
    margin: 5px 0;
  }
  
  .card-price-flower {
    color: #888;
    font-size: 1.2rem;
  }

  .SwiperSide{
    font-size: 8px;
  }

  .swiper-button-next, .swiper-button-prev {
    font-size: 8px;
    color: #888;
    width: 10px;
    height: 10px;
  }
