/* AboutHousing.css */

.aboutUs-container {
  display: flex;
  align-items: center;
  padding: 4vw 8vw;
  background-color: #f5f5f5bd;
}

.aboutUs-content {
  margin-left: 20px;
  flex: 1;
}

.aboutUs-title {
  font-size: 2.2rem;
  color: rgb(12, 12, 12);
  margin-bottom: 2rem;
}

.aboutUs-description {
  font-size: 1.1rem;
  color: #4F4F4F;
  line-height: 1.8;
  word-spacing: 2px;
  text-align: left;
  margin-bottom: 2rem;
}

.aboutUs-contact-button {
  padding: 0.75rem 1.5rem;
  border: 2px solid coral;
  border-radius: 8px;
  background: transparent;
  color: coral;
  font-weight: bold;
  cursor: pointer;
}

.aboutUs-image-container {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
}

.aboutUs-image {
  width: 36vw;
  height: 25vw;
  border-radius: 2rem;
}

.aboutUs-decorative-shape {
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 90px;
  height: 90px;
  background-color: #FF782D;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

/* Mobile View */
@media (max-width: 768px) {
  .aboutUs-container {
      flex-direction: column;
      padding: 2rem 4vw;
  }

  .aboutUs-content {
      margin-left: 0;
      text-align: center;
  }

  .aboutUs-title {
      font-size: 1.8rem;
  }

  .aboutUs-description {
      font-size: 1rem;
  }

  .aboutUs-image {
      width: 80vw;
      height: auto;
      margin-top: 2rem;
  }

  .aboutUs-decorative-shape {
      width: 70px;
      height: 70px;
      bottom: -20px;
  }
}

  